@import "tailwindcss";

@theme {
  --color-bg-primary: #f5f7fb;
  --color-bg-secondary: #ffffff;
  --color-bg-faded: #eef2f7;

  --color-fg-primary: #0b1220;
  --color-fg-secondary: #475569;
  --color-fg-faded: #64748b;

  --color-accent-primary: #2f7fd8;
  --color-accent-secondary: #0b3a84;
  --color-accent-faded: #0a1b33;
}