name: Airline App CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore Dependencies
      run: dotnet restore Server/Server.sln

    - name: Build Solutions
      run: dotnet build Server/Server.sln --configuration Release --no-restore

    - name: Run Tests
      run: dotnet test Server/ServerTests/ServerTests.csproj --configuration Release --no-build --verbosity normal